---
import data from '../data/activities.json';
const grouped = Object.groupBy(data, (d) => d.category);
---
{Object.entries(grouped).map(([cat, items]) => (
  <section>
    <h2>{cat}</h2>
    <ul>
      {items.map((a) => (
        <li>
          <strong>{a.name}</strong><br />
          {a.description}<br />
          <a href={a.link} target="_blank">More&nbsp;info</a>
        </li>
      ))}
    </ul>
  </section>
))}
